*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:2%;
    margin-left:-13.5px;
    transform: rotate(-90deg);

    width: 24px;
    height: 30px;
    animation:buttonext 1.6s infinite;
}
@keyframes buttonext {
    form{
        bottom:3%;
        opacity: 1;
    }
    to{
        bottom:6%;
        opacity: 0;
    }
}


/*音乐按钮的样式*/

#mp3btn{
    position:absolute;
    top:5%;
    right:5%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    border:4px solid #292929;
    text-align:center;
    line-height:28px;
    cursor:pointer;
    transform:rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes mp3key {
    form{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
#mp3btn img{
    width: 10px;
    height: 15px;
}

/*第一屏养样式*/
.s1{
    background:url("../img/bj.jpg");
    background-size:100%;
    height: 100%;
}
.text h2 img{
    width: 80px;
    height: 75px;
}
.text :nth-of-type(1){
    position: absolute;
    top:5%;
    left:38%;
}
.text :nth-of-type(2){
    position: absolute;
    top:21%;
    left:51%;
}
.text :nth-of-type(3){
     position: absolute;
    top: 36%;
    left: 37%;
 }
.s1 img{
    width: 30%;
    height: 50%;
    margin-top:80px;
}
.s1 .img1{
    animation:pulse 1s infinite;
}
.s1 .footer{
    color:#fff;
    font-size:22px;
    margin-top:100px;
}
.s1 .footer1{
    font-size:32px;
}
.s1 .footer3{
    font-size:14px;
}


/*第二屏样式*/
.s2{
    background:url("../img/bj.jpg");
    background-size:100%;
    height: 100%;
}
.s2 .s2img1{
    width: 100px;
    position: absolute;
    top:4%;
    left: 12%;
}
.s2 .s2img2{
    width: 100px;
    position: absolute;
    top: 4%;
    right: 12%;
}
.s2 h2 span{
    display: inline-block;
    margin-top: 13%;
    color: #fff;
    font-size: 32px;
}
.s2 h2 p{
    color:#fff;
    font-size:14px;
}
