*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:2%;
    margin-left:-13.5px;
    transform: rotate(-90deg);

    width: 24px;
    height: 30px;
    animation:buttonext 1.6s infinite;
}
@keyframes buttonext {
    form{
        bottom:3%;
        opacity: 1;
    }
    to{
        bottom:6%;
        opacity: 0;
    }
}


/*音乐按钮的样式*/

#mp3btn{
    position:absolute;
    top:5%;
    right:5%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    border:4px solid #292929;
    text-align:center;
    line-height:28px;
    cursor:pointer;
    transform:rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes mp3key {
    form{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
#mp3btn img{
    width: 10px;
    height: 15px;
}

/*第一屏养样式*/
.s1 .img3,.s2 .img3,.s3 .img3{
   position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.text1 :nth-of-type(1){
    width: 47%;
    height: 35%;
    position: absolute;
    top:5%;
    left:25%;
}
.text1 :nth-of-type(2){
    width: 47%;
    height: 35%;
    position: absolute;
    top:25%;
    left:40%;
}
.text1 :nth-of-type(3){
    width: 47%;
    height: 35%;
     position: absolute;
    top: 45%;
    left: 25%;
 }
.s1 .img1{
    width: 30%;
    height: 50%;
}
.s1 .img1{
    animation:pulse 1s infinite;
    margin-top:10%;
}
.s1 .footer{
    color:#fff;
    font-size:22px;
    margin-top:80px;
}
.s1 .footer1{
    font-size:32px;
}
.s1 .footer3{
    font-size:14px;
}


/*第二屏样式*/
.s2 .s2img1{
    width: 25%;
    position: absolute;
    top:4%;
    left: 12%;
}
.s2 .s2img2{
    width: 25%;
    position: absolute;
    top: 4%;
    right: 12%;
}
.s2 h2 span{
    display: inline-block;
    margin-top: 13%;
    color: #fff;
    font-size: 28px;
}
.s2 h2 p{
    color:#fff;
    font-size:14px;
}
.s2 .title .img4{
    position: absolute;
    top: 23%;
    left: -2%;
    width: 400px;
    height: 550px;
}
.s2 .title .img5{
    position: absolute;
    top: 27%;
    left: 21%;
    width: 50px;
    height: 50px;
}
.s2 .title .img6{
    position: absolute;
    top: 75%;
    right: 10%;
    width: 100px;
    height: 100px;
}
.s2 .text2{
    width: 80%;
    position: absolute;
    top: 40%;
    color: #fff;
    margin-left: 10%;

}

/*第三屏*/
.s3 .s2img1{
    width: 100px;
    position: absolute;
    top:4%;
    left: 12%;
}
.s3 .s2img2{
    width: 100px;
    position: absolute;
    top: 4%;
    right: 12%;
}
.s3 h2 span{
    display: inline-block;
    margin-top: 13%;
    color: #fff;
    font-size: 32px;
}
.s3 h2 p{
    color:#fff;
    font-size:14px;
}