*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:2%;
    margin-left:-13.5px;
    transform: rotate(-90deg);

    width: 24px;
    height: 30px;
    animation:buttonext 1.6s infinite;
}
@keyframes buttonext {
    form{
        bottom:3%;
        opacity: 1;
    }
    to{
        bottom:6%;
        opacity: 0;
    }
}


/*音乐按钮的样式*/

#mp3btn{
    position:absolute;
    top:5%;
    right:5%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    border:4px solid #292929;
    text-align:center;
    line-height:28px;
    cursor:pointer;
    transform:rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes mp3key {
    form{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
#mp3btn img{
    width: 10px;
    height: 15px;
}

.s1 img{
    background:url("../img/bj.jpg");
    background-size:contain;
    width: 100%;
    height: 100%;
}
.s1 h2{
    color:red;
    font-size:36px;
}