*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:2%;
    margin-left:-13.5px;
    transform: rotate(90deg);
}

/*s1第一屏样式*/
.s1{
    background:url("../img/bj.png");
    height: 100%;
    position:relative;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position: absolute;
    top: 120px;
    left: 50px;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    position: absolute;
    top: 90px;
    right: 40px;
}
.s1 .header img:nth-of-type(3){
    width: 50px;
    position: absolute;
    bottom: 180px;
    left: 35px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position: absolute;
    right: 50px;
    bottom: 200px;
}
.s1 .header img:nth-of-type(5){
    width:68%;
    position: absolute;
    top: 25%;
    left: 16%;
}

.main{
    position:absolute;
    top:30%
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width:75%;
}


.img9{
    color:#000;
    font-weight:bold;
    font-size:18px;
    line-height: 23px;
    background:url("../img/9.png");
    background-size: 100%;
    height: 23px;
    width: 207px;
    margin:auto;
    margin-top:20px;
}
.footer{
    color:#00d7b2;
    position:absolute;
    width: 100%;
    bottom:0;
}
.footer p:nth-of-type(2){
    margin-top: 10px;
    margin-bottom:20px;
}

.s1 .footer img{
   position: relative;
    height: 70px;
    bottom:0;
}
.s1 .footer img:nth-of-type(1){
    left:0;
}
.s1 .footer img:nth-of-type(2){
    position: absolute;
    left:-95px;
}