html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:2%;
    margin-left:-13.5px;
    transform: rotate(90deg);
}

/*s1第一屏样式*/
.s1{
    background:url("../img/bj.png");
    height: 100%;
    position:relative;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position: absolute;
    top: 120px;
    left: 50px;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    position: absolute;
    top: 90px;
    right: 40px;
}
.s1 .header img:nth-of-type(3){
    width: 50px;
    position: absolute;
    bottom: 180px;
    left: 35px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position: absolute;
    right: 50px;
    bottom: 200px;
}
.s1 .header img:nth-of-type(5){
    width:68%;
    position: absolute;
    top: 25%;
    left: 20%;
}

.main{
    position:absolute;
    top:30%
}
.s1 .main img:nth-of-type(1){
    width: 160px;
    margin-left:23px;
}
.s1 .main img:nth-of-type(2){
    width:75%;
    margin-left:23px;
}
.img9{
    color:#fff;
    background:url("../img/9.png");
    background-size: 100%;
    height: 23px;
    width: 200px;
    margin-left:27%;
}
.footer{
    color:#01b3a3;
    position: relative;
    top:85%;
}
.footer p:nth-of-type(1){
    position:absolute;
    bottom:20px;
    margin-left:35%;
}
.footer p:nth-of-type(2){
    position:absolute;
    bottom:0;
    margin-left:18%;
}
.s1 .footer img:nth-of-type(1){
    height: 100px;
    position: absolute;
    right:-89px;
}
.s1 .footer img:nth-of-type(2){
    height: 100px;
    position: absolute;
    left:-200px;
}