*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:2%;
    margin-left:-13.5px;
    transform: rotate(90deg);
    animation: flash infinite;
}


/*音乐按钮的样式*/

#mp3btn{
    position:absolute;
    top:5%;
    right:5%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    border:4px solid #292929;
    text-align:center;
    line-height:28px;
    cursor:pointer;
    transform:rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes mp3key {
    form{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
#mp3btn img{
    width: 10px;
    height: 15px;
}





/*s1第一屏样式*/
.s1{
    background:url("../img/bj.png");
    height: 100%;
    position:relative;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position: absolute;
    top: 120px;
    left: 50px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    position: absolute;
    top: 90px;
    right: 40px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(3){
    width: 50px;
    position: absolute;
    bottom: 180px;
    left: 35px;
    animation: swing infinite;

}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position: absolute;
    right: 50px;
    bottom: 200px;

    animation: swing infinite;
}
.s1 .header img:nth-of-type(5){
    width:68%;
    position: absolute;
    top: 25%;
    left: 16%;

    animation: pulse infinite;
}

.main{
    width: 100%;
    position:absolute;
    top:30%
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width:75%;
}



.img9{
    color:#000;
    font-weight:bold;
    font-size:18px;
    line-height: 23px;
    background:url("../img/9.png");
    background-size: 100%;
    height: 23px;
    width: 207px;
    margin:auto;
    margin-top:20px;
}


.footer{
    color:#00d7b2;
    position:absolute;
    width: 100%;
    bottom:0;
}
.footer p:nth-of-type(2){
    margin-top: 10px;
    margin-bottom:20px;
}
.s1 .footer img{
   position: relative;
    height: 70px;
    bottom:0;
}
.s1 .footer img:nth-of-type(1){
    left:0;
}
.s1 .footer img:nth-of-type(2){
    position: absolute;
    left:-55px;
}



.s2{
    background:url("../img/bj.png");
    height: 100%;
    color:#00f8ca;
}
.s2 h2{
    font-size:26px;
    top: 12%;
    position: relative;
}
.s2 h2 span{
    display: block;
}
.s2 small{
    display: block;
    margin-top: 10px;
    font-size:14px;
    letter-spacing:5px;
}
.s2 h2:before,.s2 h2:after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 h2::before{
    background:url("../img/14.png");
    margin-right:20px;
    background-size:contain;
    margin-left:-150px;
    margin-top:10px;
}
.s2 h2::after{
    background:url("../img/13.png");
    background-size:contain;
    margin-right:20px;
    margin-left:70px;
    margin-top:10px;
    top: 0;
}
.s2 div{
    position:absolute;
    top:25%;
    width:80%;
    height: 380px;
    left:50%;
    margin-left: -40%;
}
.s2 div img{
    width: 100%;
    position:absolute;
    left:0;
}
.s2 div p{
    text-align:left;
    padding-right:10%;
    padding-left:10%;
    font-size:14px;
    line-height: 1.5em;
    margin-bottom:10px;
}
.s2 div p:nth-of-type(1){
    padding-top: 20px;
}
.s2 div span{
    background: -webkit-linear-gradient(left, #00e7f9, #00fd9f);
    width: 120px;
    height: 25px;
    border-radius: 17px;
    color:#000;
    font-size:14px;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left:-60px;
}
/*第3屏*/

.s3{
    background:url("../img/bj.png");
    height: 100%;
    color:#00f8ca;
}
.s3 h2{
    font-size:26px;
    top: 12%;
    position: relative;
}
.s3 h2 span{
    display: block;
}
.s3 small{
    display: block;
    margin-top: 10px;
    font-size:14px;
    letter-spacing:5px;
}
.s3 h2:before,.s3 h2:after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s3 h2::before{
    background:url("../img/14.png");
    margin-right:20px;
    background-size:contain;
    margin-left:-150px;
    margin-top:10px;
}
.s3 h2::after{
    background:url("../img/13.png");
    background-size:contain;
    margin-right:20px;
    margin-left:70px;
    margin-top:10px;
    top: 0;
}

.s3 ul li{
    color:#00f8ca;
    text-align: center;
    list-style: none;
}
.s3 ul :nth-of-type(1),.s3 ul :nth-of-type(2),.s3 ul :nth-of-type(3),.s3 ul :nth-of-type(7),.s3 ul :nth-of-type(5),.s3 ul :nth-of-type(6){
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.9;
    line-height: 60px;
    font-weight: bold;
    background: radial-gradient(#000,#006275);

    position: absolute;
}

.s3 ul :nth-of-type(4){
    width: 130px;
    height:130px;
    border-radius: 50%;
    opacity: 0.9;
    line-height: 130px;
    font-weight: bold;

    background: radial-gradient(#000,#006275);

    position: absolute;
    top:40%;
    left:33%;
}

.s3 ul :nth-of-type(1){
    left:90px;
    top: 170px;
}

.s3 ul :nth-of-type(2){
    right:85px;
    top: 170px;
}
.s3 ul :nth-of-type(3){
    left: 20px;;
    top: 290px;
}
.s3 ul :nth-of-type(5){
    right:20px;
    top: 290px;
}
.s3 ul :nth-of-type(6){
    left: 90px;;
    top:65%;
}
.s3 ul :nth-of-type(7){
    right:85px;
    top: 65%;
}
.title{
    width: 75%;
    height: 70px;
    border-left:3px solid #00e6b6;
    padding-left:30px;
    font-size:14px;
    line-height:30px;
    position: absolute;
    left: 11%;
    bottom: 9%;
}

